<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>);">
      <h1> <%= @list.name %> </h1>
  </div><br><br>

<div class="row">
  <div class="cards">
    <% @list.movies.each do |movie| %>
      <%= link_to movie_path(movie) do %>
        <div class='mt-2 card-category btn styled' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
          <%= movie.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class=row>
  <%= link_to 'Back', root_path %>
</div>
